*{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

header{
		background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("image1.jpg");
		height: 100vh;
		background-size: cover;
		background-position: center;
}
ul{
	float: right;
	list-style-type: none;
	margin-top: 30px;
}

ul li{
	display:inline-block;
}
ul li a{
		text-decoration: none;
		color: #fff;
		padding: 10px 30px;
		border:1 px solid #fff;
}
ul li a:hover{
	background-color: #fff;
	color:#000;
}
ul li.active a{
	background-color: #fff;
	color:#000;
}
.logo img{
	float: left;
	width:150 px;
	height: auto;
}
.main{
	max-width: 1200px;
	margin:auto;
}
.form{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}

.title{
	/*position:absolute;
	top:40%;
	left:50%;
	transform:translate(-50%,-50%);
	color: #ffffff;*/
	font-size: 144pt;
  font-family: 'Luckiest Guy';
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow:   0px -6px 0 #212121,  
                 0px -6px 0 #212121,
                 0px  6px 0 #212121,
                 0px  6px 0 #212121,
                -6px  0px 0 #212121,  
                 6px  0px 0 #212121,
                -6px  0px 0 #212121,
                 6px  0px 0 #212121,
                -6px -6px 0 #212121,  
                 6px -6px 0 #212121,
                -6px  6px 0 #212121,
                 6px  6px 0 #212121,
                -6px  18px 0 #212121,
                 0px  18px 0 #212121,
                 6px  18px 0 #212121,
                 0 19px 1px rgba(0,0,0,.1),
                 0 0 6px rgba(0,0,0,.1),
                 0 6px 3px rgba(0,0,0,.3),
                 0 12px 6px rgba(0,0,0,.2),
                 0 18px 18px rgba(0,0,0,.25),
                 0 24px 24px rgba(0,0,0,.2),
                 0 36px 36px rgba(0,0,0,.15);
}
	



.title h1{
	color:#fff;
	font-size: 50px;
	transition: width 2s;
	text-shadow: 2px 2px #FF0000;
}
.title:hover{
	font-size:60 px;
}
.button{
	position:absolute;
	top:60%;
	left:50%;
	transform:translate(-50%,-50%);
}
.btn{
	border: 1px solid #fff;
	padding: 20px 60 px;
	color: #fff;
	text-decoration:none;
	transition: 0.6s ease;
}
.btn:hover{
	background-color: #fff;
	color:#000;
}
.text{
	position:absolute;
	top:80%;
	left:50%;
	transform:translate(-50%,-50%);
	color: white;
	font-size:20px;
	white-space: nowrap; 
	width: 700px; 
	height: 100px;
	border: 1px solid #000000;
	overflow: hidden;
	text-overflow: ellipsis;
}
footer {
	position:center;
	color: #ffffff;
	font-size:20px;
	background-color:#000066
}
